.overlay-wrapper {
  width: 20%;
  height: 90vh;
  border: solid 1px #000;
  position: fixed;
  right: 0.5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #000;
  border-radius: 5px;
}

.overlay-header {
  display: flex;
  width: 100%;
  min-height: 60px;
  color: #fff;
  position: sticky;
  top: 0;
  background-color: #000;
  font-size: 18px;
}

.overlay-header p {
  margin: auto;
  text-align: center;
}

.overlay-list {
  overflow: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background: #fd6060;
  border-radius: 10px;
  width: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7060;
}
