.overlay-element-wrapper {
  width: 100%;
  min-height: 60px;
  margin-bottom: 1px;
  flex-direction: column;
  background-color: #222;
  display: block;
  text-align: center;
}

.overlay-element-name-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.button-restaurant {
  align-self: center;
  margin-left: 5px;
  height: 50%;
  background-color: #111;
  border: none;
}

.button-restaurant:hover {
  background-color: #fd6060;
}

.overlay-element-name {
  color: #eeaa7d;
  text-shadow: 2px 2px #000;
  text-align: center;
  font-size: 15px;
  font-family: "Titillium Web", sans-serif;
  user-select: none;
  width: 100%;
  margin: auto;
}

.overlay-element-address {
  font-size: 14px;
  text-align: center;
  color: #777;
  font-family: "Titillium Web", sans-serif;
}

.overlay-element-wrapper:hover {
  background-color: #333;
}

.rating-wrapper {
}

.rating-icon {
  margin-left: 2px;
}
